/api-gateway/.env
/api-gateway/node_modules/
/carrito-service/.env
/carrito-service/node_modules/
/productos-service/.env
/productos-service/node_modules/
/usuarios-service/.env
/usuarios-service/node_modules/
/tienda-online-app/.env
/tienda-online-app/node_modules/
/tienda-online-app/.angular/
/tienda-online-app/.vscode/
/tienda-online-app/.gitignore