/api-gateway/.env
/api-gateway/node_modules/
/carrito-service/.env
/carrito-service/node_modules/
/productos-service/.env
/productos-service/node_modules/
/usuarios-service/.env
/usuarios-service/node_modules/
frontend-app/README.md
frontend-app/node_modules/